/*------------------------------------------*/
// 変数
// フォントカラー

$color_base: #484848;
$color_sub: #FFFFFF;
$color_link: #008489;

// バックグラウンドカラー

$background_base: #FFFFFF;
$background_green: #006C70;
$background_gray: #EBEBEB;

// レスポンシブ

$pc: 1025px;
$tab: 600px;
$tab2: 1024px;
$sp: 599px;

@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}
@mixin tab {
    @media (min-width: ($tab)) {
        @content;
    }
}
@mixin tab2 {
    @media (max-width: ($tab2)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// ジェークエリー
.hostNav {
    &__box {
        position: relative;
    }
    &__sideDrawer {
        background-color: $background_base;
        width: 318px;
        height: 380px;
    }
    &__menu {
        padding-top: 40px;
        padding-left: 20px;
    }
    &__title {
        font-size: 1.2rem;
        color: $color_base;
    }
    &__unit {
        font-size: 1.4rem;
        color: $color_base;
    }
    &__list {
        padding-right: 20px;
    }
    &__link {
        color: $color_base;
    }
    &__text {
        text-decoration: none;
        padding-top: 20px;
    }
    &__item {
        padding-top: 20px;
        &::after {
            content: " ";
            display: block;
            border-bottom: solid 1px rgb(224, 223, 223);
            width: 90%;
            margin-top: 10%;
        }
    }
    // @include pc {
    //     display: none;
    // }
}

.fa-chess-rook {
    font-size: 3rem;
    margin-left: 94px;
}
.fa-tree {
    font-size: 3rem;
    margin-left: 70px;
} 